
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.DS_Store

# Playwright
/playwright/.auth/
.env.testdino
/storedemo/test-results/
/storedemo/report/
/storedemo/blob-report/
/storedemo/.orchestration.json
